.home {
  font-family: "Noto Sans", sans-serif;
}

/* First Section */

#home-bg {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("/public/bg-fsec.png");
  background-size: 300px;
  background-position: right top;
  background-repeat: no-repeat;
}
.homepage-first-section {
  align-items: left;
  padding: 0 20px;
  color: #558a8d;
}

.doctor-card img {
  border-radius: 0px;
}

.title {
  font-size: 75px;
  color: #558a8d;
  letter-spacing: 4px;
  text-transform: uppercase;
}

/* Second Section */
.homepage-second-section {
  padding: 0px 0px;
  background-color: #ffffff;
  text-align: left;
  color: #368387;
}

.two-columns {
  display: flex;
}

/* Column Styles */
.column {
  flex: 1;
  padding: 0 20px;
  width: 50%;
}

#home-text {
  margin-top: -70px;
}

#home-text2 {
  margin-top: -95px;
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
}

.team-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 80px 10px;
}
.mobile-home {
  display: none;
}

@media (max-width: 768px) {
  .mobile-home {
    display: block;
    width: 85%;
    margin: 0 auto;
  }
  #home-text,
  #home-bg {
    display: none;
  }
  .title {
    display: none;
  }
  .team-image {
    border-radius: 0px;
  }
  .title-mobile {
    font-size: 35px;
    line-height: 1.2;
    text-align: center;
    color: #558a8d;
    letter-spacing: 0px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .column-mobile {
    text-align: center;
    flex: 1 1;
    padding: 0 0px;
    width: 100%;
    margin: 0 auto;
  }

  .about-section-container {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0px 60px 0px;
  }

  .info-box {
    padding: 10px;
  }

  .about-label {
    color: #368387;
    background-color: rgba(67, 186, 127, 0.1);
    border-radius: 18.5px;
    padding: 4px 16px;
    font-size: 18px;
    line-height: 1.76;
  }
  .about-title {
    line-height: 1.2;
    text-align: center !important;
  }
  .about-label {
    color: #368387;
    background-color: rgba(67, 186, 127, 0.1);
    border-radius: 18.5px;
    padding: 4px 16px;
    font-size: 18px;
    line-height: 1.76;
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Ensures text is centered inside */
    margin: 0 auto; /* Centers the element itself within its parent container */
    width: 100px;
  }
  .about-left-column p {
    text-align: center;
  }
  .info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 20px 0;
    width: 100%;
  }
  .learn-more-button {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .service-carousel-container {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    padding: 30px 5px 30px 5px !important;
  }

  .carousel-item {
    flex: 0 0 100% !important; /* Show one item at a time on mobile */
  }
  .small-text {
    font-size: 18px;
    line-height: 1.76;
    display: flex !important; /* Enables flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Ensures text is centered inside */
    margin: 0 auto; /* Centers the element itself within its parent container */
    width: 150px;
  }

  .our-doctors-section {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 85% !important;
    margin: 0 auto !important;
    padding: 30px 0px 30px 0px !important;
  }
  .our-doctors-header {
    display: block !important;
  }
  .view-all-doctors-btn {
    display: none;
  }
  .doctors-grid-home {
    display: block !important;
  }

  .why-choose-us-section {
    display: block !important;
    justify-content: space-between;
    align-items: center;
    width: 85% !important;
    margin: 0 auto !important;
    padding: 30px 0px 30px 0px !important;
  }
  .left-column-last {
    background-color: #ecf8f2;
    padding: 20px !important;
    border-radius: 10px;
    flex: 0.6 1;
    margin-right: 0px;
  }
  .book-appointment-btn {
    display: flex !important; /* Enables flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    text-align: center; /* Ensures text is centered inside */
    margin: 0 auto; /* Centers the element itself within its parent container */
    width: 250px;
  }
  .login-button,
  .logout-button {
    font-size: 16px !important;
    padding: 9px 35px !important;
  }
  .main-title {
    text-align: center !important;
  }
  .service-heading {
    line-height: 1.2;
  }
}
